dl {
  width: 800px;
}

dl dt {
  clear: both;
  margin-top: 10px;
  padding-top: 10px;
}

dl dd > input[type=text], dl dd > textarea {
  width: 200px;
}

dl dd > textarea {
  height: 10em;
}

.instructions {
  float: right;
  width: 550px;
  margin-bottom: 10px;
}

.attributes .instructions pre {
  display: inline;
}
